<%- include('partials/header') %>

    <table border="1px">
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= data[i].first_name %></td>
                <td><%= data[i].last_name %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].birthdate.toDateString() %></td>
                <td><%= data[i].gender %></td>
                <td><%= data[i].phone_number %></td>
                <td>
                    <a href="/users/<%=data[i].id%>/editUser">Edit |</a>
                    <a href="/users/<%=data[i].id%>/delete" onclick="return confirm('Are You Sure Delete This Data?')">Delete </a>
                </td>
            </tr>
        <% } %>
    </table>
<%- include('partials/footer') %>